@model AMS.Models.Users

@{
    ViewData["Title"] = "Create";
}
@if (TempData["DangerMessage"] != null)
{
    <div class="alert alert-danger" id="popup">
        @TempData["DangerMessage"]
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @@keyframes rgbAnimation {
            0% {
                background-color: red;
            }

            14% {
                background-color: orange;
            }

            28% {
                background-color: yellow;
            }

            42% {
                background-color: green;
            }

            57% {
                background-color: blue;
            }

            71% {
                background-color: indigo;
            }

            85% {
                background-color: violet;
            }

            100% {
                background-color: red;
            }
        }

        body {
            animation: rgbAnimation 24s infinite;
        }

        .centered-form 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: ; /* Ensure form background is white */
        }

        .centered-form .form-group 
        {
            width: 100%;
            position: relative;
            margin-bottom: 1.5rem;
        }

        .icon-container 
        {
            position: relative;
            display: flex;
            align-items: center;
        }

        .icon-container i 
        {
            position: absolute;
            left: 10px;
            color: #aaa;
        }

        .icon-container input 
        {
            padding-left: 35px;
        }

        .form-group label 
        {
            position: absolute;
            top: -20px;
            left: 0;
            font-size: 0.875rem;
            color: #555;
        }

        .center-button 
        {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form asp-action="Validate" class="centered-form">
                    <h1 style=""><b>Log IN</b></h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="icon-container">
                            <i class="fa-solid fa-envelope"></i>
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="icon-container">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group center-button">
                        <input type="submit" value="Login" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
