@model AMS.Models.Book_Car

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 20vh; /* Adjust as needed */
    }

    .input-width {
        width: 45%; /* Adjust the width as needed */
        margin: 5px 10px; /* Adjust the margin as needed */
    }

    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: hidden; /* Prevents scrolling */
        position: relative;
    }

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the entire background */
        z-index: -1; /* Places the image behind other content */
    }

    .content {
        position: relative;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .shadow-text {
        color: black;
        text-shadow: 1px 1px 2px white, /* Bottom-right shadow */
        -1px -1px 2px white, /* Top-left shadow */
        -1px 1px 2px white, /* Bottom-left shadow */
        1px -1px 2px white; /* Top-right shadow */
    }
</style>
<img src="~/css/7.jpg" alt="Background Image" class="background-image">
<div class="content-wrapper">
    <h1 class="shadow-text"><a href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left" style="color: #020203;"></i></a> Please enter the required details</h1>

    <hr />
    <div>
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group" style="display: flex">
					<input asp-for="Booking_Car_ID" type="hidden" />
                    <input asp-for="Car_ID" class="form-control" type="hidden" />
                    <input asp-for="IBAN" class="form-control" type="hidden" />
                    <input asp-for="CVV" class="form-control" type="hidden" />
                    <input asp-for="Date" class="form-control" type="hidden" />
                    <input asp-for="User_ID" class="form-control" value="@ViewBag.Data.User_ID" type="hidden" />
                    <input asp-for="First_Name" class="form-control input-width" placeholder="First Name" required />
                    <input asp-for="Last_Name" class="form-control input-width" placeholder="Last Name" required />
                </div>
                <br>
                <div class="form-group" style="display: flex">
                    <input asp-for="Pickup_Location" class="form-control input-width" placeholder="Pickup Location" required />
                    <input asp-for="Dropoff" class="form-control input-width" placeholder="Dropoff Location" required />
                </div>
                <br>
                <div class="form-group" style="display: flex">
                    <input asp-for="Pickup_Time" type="time" class="form-control input-width" required />
                    <input asp-for="Contact" class="form-control input-width" placeholder="+-- ---------" required />
                </div>
                <br>
                <div class="form-group" style="display: flex;margin-left: 130px;">
                    <input type="submit" value="Confirm Changes" class="btn btn-success" style="margin-right: 5px;" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

